PORT=5000
NODE_ENV=development

# Database Configuration
DB_USER=postgres
DB_HOST=localhost
DB_NAME=smart_boda_db
DB_PASSWORD=your_password_here
DB_PORT=5432

# Security
JWT_SECRET=super_secret_jwt_key_smart_boda_2026
